{% load static i18n %}
{% load bootstrap5 %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        NewSchool
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Site tutoring center NewSchool" />
    <meta name="author" content="Alexei Sanko" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      {% bootstrap_css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      {% bootstrap_javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
          <a href="{% url "home" %}"
             class="logo d-flex align-items-center me-auto">
            <img src="{% static "images/logo.png" %}" alt="" style="max-height:100px;" />
            <h1 class="sitename"></h1>
          </a>
          <nav id="navmenu" class="navmenu">
            <ul>
              <li>
                <a href="#">О студии</a>
              </li>
              <li>
                <a href="#">Услуги</a>
              </li>
              <li>
                <a href="#">Отзывы</a>
              </li>
              <li>
                <a href="#">Контакты</a>
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
          {% if request.user.is_authenticated %}
            <a class="btn-getstarted" href="{% url 'users:profile' %}">Профиль</a>
            <a class="btn-getstarted" href="{% url "users:logout" %}">Выйти</a>
          {% else %}
            <a id="sign-up-link btn-getstarted"
               class="btn-getstarted"
               href="{% url 'users:profile' %}">Войти</a>
          {% endif %}
        </div>
      </header>
      <main class="main">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        <section class="section" style="padding: 140px 0;">
          <div class="container">
            {% block main %}
              {% block content %}
              {% endblock content %}
            {% endblock main %}
          </div>
        </section">
      </main>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
