{% extends "users/profile_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <section class="section">
    {% if data %}
      <table class="table table-hover">
        <thead>
          <tr>
              {% for column in data.0.keys %}
                  <th>{{ column }}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for value in row.values %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock content %}
