{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block sidebar %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      {% if request.user.type_staff %}
        {% for section in request.user.type_staff.site_sections.all %}
          {% if section.is_active %}
            <li class="nav-item">
              <a class="nav-link collapsed" href="{% url section.url_name %}">
                {% if section.icon %}
                  <i class="{{ section.icon }}"></i>
                {% endif %}
                <span>{{ section.name }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
      
      {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'admin:index' %}">
            <i class="bi bi-gear"></i>
            <span>Панель администратора</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </aside>
{% endblock sidebar %}
{% block content %}
{% endblock content %}
