{% extends "users/profile_base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <section class="section">
    <div class="row">
      {% for category in categories %}
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ category.category }}</h5>
              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <tbody>
                  {% for item in library_staff %}
                    {% if category == item.category %}
                      <tr>
                        <td>
                          <a href="{{ item.link }}">{{ item.name }}</a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
